* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.header {
  background-color: black;
  font-family: 'Rubik', sans-serif;
  border: 0 3px 10px 0px #4d4747;
  color: whitesmoke;
  height: 80px;
  background-image: url(../multimedia/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header li a {
  border: 1px inset #312b2b;
  margin: 15px;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.header ul:hover a {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.header ul li a:hover {
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
  -webkit-box-shadow: 0 5px 5px 0px black;
          box-shadow: 0 5px 5px 0px black;
  -webkit-filter: none;
          filter: none;
}

.headerHabilidades {
  background-color: #0a0a0a;
  font-family: 'Rubik', sans-serif;
  border: 0 3px 10px 0px #4d4747;
  color: whitesmoke;
}

.headerHabilidades li a {
  border: 1px inset grey;
  margin: 15px;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerHabilidades ul:hover a {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.headerHabilidades ul li a:hover {
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
  -webkit-box-shadow: 0 5px 5px 0px grey;
          box-shadow: 0 5px 5px 0px grey;
  -webkit-filter: none;
          filter: none;
}

.footerForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  background-color: black;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  color: grey;
  padding: 10px;
  height: 120px;
  background: -webkit-gradient(linear, right top, left top, from(#000000), to(#434343));
  background: linear-gradient(to left, #000000, #434343);
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 2px solid grey;
}

h1 {
  font-size: 25px;
  color: grey;
  font-family: 'Graduate', cursive;
}

h2 {
  font-size: 15px;
  font-family: 'Press Start 2P', cursive;
}

h3 {
  font-family: 'Graduate', cursive;
  font-size: 20px;
}

p {
  font-size: 20px;
  font-family: 'Graduate', cursive;
}

.main {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: whitesmoke;
  height: 700px;
  background-image: url(../multimedia/background-g0003a7a51_1920.jpg);
  padding: 15px;
}

#bienvenida {
  font-size: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: whitesmoke;
  height: 700px;
  background-image: url(../multimedia/mainCafe4.jpg);
  padding: 15px;
  color: grey;
  font-family: 'Graduate', cursive;
}

.bienvenidos {
  font-size: 50px;
  color: white;
}

.welcome {
  color: white;
}

.mainCafe {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: whitesmoke;
  height: 700px;
  background-image: url(../multimedia/coffee2.jpg);
  padding: 15px;
}

.mainCafe3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: whitesmoke;
  height: 700px;
  background-image: url(../multimedia/coffee3.jpg);
  padding: 15px;
}

.mainCafe4 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: whitesmoke;
  height: 700px;
  background-image: url(../multimedia/ultimoFondo.jpg);
  padding: 15px;
}

.fondoHistoria {
  background-image: url(../multimedia/fondoHistoria.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 60px;
  padding: 160px;
  text-align: center;
  -webkit-box-shadow: 0 3px 10px 0px #4d4747;
          box-shadow: 0 3px 10px 0px #4d4747;
  background-color: black;
  height: auto;
}

#btn1 {
  background-color: transparent;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
  padding: 1.2rem 2.8rem;
  font-weight: bold;
  color: #fff;
  border-color: white;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

#btn1:focus {
  outline: 0;
}

#btn1:hover {
  -webkit-box-shadow: 0 0 40px  grey inset;
          box-shadow: 0 0 40px  grey inset;
  background-position: 0;
}

#btn2 {
  background-color: transparent;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
  padding: 1.2rem 2.8rem;
  font-weight: bold;
  color: #fff;
  border-color: white;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

#btn2:focus {
  outline: 0;
}

#btn2:hover {
  -webkit-box-shadow: 0 0 40px  black inset;
          box-shadow: 0 0 40px  black inset;
  background-position: 0;
}

#btn3 {
  background-color: transparent;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
  padding: 1.2rem 2.8rem;
  font-weight: bold;
  color: #fff;
  border-color: white;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

#btn3:focus {
  outline: 0;
}

#btn3:hover {
  -webkit-box-shadow: 0 0 40px  grey inset;
          box-shadow: 0 0 40px  grey inset;
  background-position: 0;
}

#btn4 {
  background-color: transparent;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
  padding: 1.2rem 2.8rem;
  font-weight: bold;
  color: #fff;
  border-color: white;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

#btn4:focus {
  outline: 0;
}

#btn4:hover {
  -webkit-box-shadow: 0 0 40px  black inset;
          box-shadow: 0 0 40px  black inset;
  background-position: 0;
}

#btn5 {
  background-color: transparent;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
  padding: 1.2rem 2.8rem;
  font-weight: bold;
  color: #fff;
  border-color: white;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

#btn5:focus {
  outline: 0;
}

#btn5:hover {
  -webkit-box-shadow: 0 0 40px  grey inset;
          box-shadow: 0 0 40px  grey inset;
  background-position: 0;
}

#btn6 {
  background-color: transparent;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
  padding: 1.2rem 2.8rem;
  font-weight: bold;
  color: #fff;
  border-color: white;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

#btn6:focus {
  outline: 0;
}

#btn6:hover {
  -webkit-box-shadow: 0 0 40px  black inset;
          box-shadow: 0 0 40px  black inset;
  background-position: 0;
}

.historia {
  color: blanchedalmond;
}

.redes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.redes-container ul li {
  margin: 0 5px;
  width: 70px;
  height: 50px;
  text-align: center;
}

.redes-container a {
  display: block;
  margin: 8px;
  padding: 0 10px;
  color: black;
  line-height: 50px;
  font-size: 30px;
  -webkit-box-shadow: 0 3px 10px 0px grey;
          box-shadow: 0 3px 10px 0px grey;
  -webkit-transition: .2s;
  transition: .2s;
}

.redes-container ul:hover a {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.redes-container ul li a:hover {
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
  -webkit-box-shadow: 0 5px 5px 0px black;
          box-shadow: 0 5px 5px 0px black;
  -webkit-filter: none;
          filter: none;
}

.redes-container ul li .linkedin:hover {
  background: grey;
}

.copi {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: grey;
}

.HistoriaFondo {
  background-color: black;
}

#input-submit {
  background-color: transparent;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  padding: 1.0rem 2.0rem;
  font-weight: bold;
  color: #4e54c8;
  border-color: white;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

#input-submit:focus {
  outline: 0;
}

#input-submit:hover {
  -webkit-box-shadow: 0 0 40px  #4e54c8;
          box-shadow: 0 0 40px  #4e54c8;
  background-position: 0;
}

.bodyContacto {
  background: -webkit-gradient(linear, right top, left top, from(#000000), to(#434343));
  background: linear-gradient(to left, #000000, #434343);
}

.listaCafe {
  background-size: cover;
  /*   background: linear-gradient(to left,#C33764, #1d2671) ; */
  background-image: url(../multimedia/productos.png);
  background-position: center;
  text-align: center;
  color: whitesmoke;
  height: 3400px;
  background-color: #e5e5f7;
}

#botonApi {
  background-color: transparent;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
  padding: 1.2rem 2.8rem;
  font-weight: bold;
  color: #fff;
  border-color: white;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.fondoContacto {
  background-image: url(../multimedia/form.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

#form {
  opacity: 0.8;
  background-image: radial-gradient(#050505 0.5px, transparent 0.5px), radial-gradient(#050505 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 10px -5px #4e54c8;
          box-shadow: 0 5px 10px -5px #4e54c8;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formContainer {
  margin-top: 3em;
}

.suscribite {
  color: black;
  font-size: 35px;
  font-family: 'Graduate', cursive;
}

#input-name {
  width: 100%;
  background: none;
  color: #4e54c8;
  font-size: 1rem;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid #4e54c8;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
}

#input-email {
  width: 100%;
  background: none;
  color: #4e54c8;
  font-size: 1rem;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid #4e54c8;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
}

#password {
  width: 100%;
  background: none;
  color: #4e54c8;
  font-size: 1rem;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid #4e54c8;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
}

.warnings {
  width: 200px;
  text-align: center;
  margin: auto;
  color: tomato;
  padding-top: 30px;
  font-size: 15px;
}

#textoContacto {
  color: #4e54c8;
  font-family: 'Graduate', cursive;
  font-size: 25px;
}

.tituloProductos {
  color: white;
  margin-top: 25px;
}

#botonCafeHot {
  background-color: transparent;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
  padding: 1.2rem 2.8rem;
  font-weight: bold;
  color: #fff;
  border-color: white;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

#botonCafeHot:hover {
  -webkit-box-shadow: 0 0 40px #be1c1c;
          box-shadow: 0 0 40px #be1c1c;
  background-position: 0;
}

#botonCafeCold {
  background-color: transparent;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
  padding: 1.2rem 2.8rem;
  font-weight: bold;
  color: #fff;
  border-color: white;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

#botonCafeCold:hover {
  -webkit-box-shadow: 0 0 40px #1111ca;
          box-shadow: 0 0 40px #1111ca;
  background-position: 0;
}
/*# sourceMappingURL=style.css.map */