@mixin recet {
    
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

@mixin boton {
    background-color: transparent;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;
    padding: 1.2rem 2.8rem;
    font-weight: bold;
    color: #fff;
    border-color: white;
    transition: box-shadow 0.2s ease-in-out;
       
}

@mixin redes-container ($flex) {
    display: $flex;
    align-items: center;
    justify-content: center;
 
    ul li {
        margin: 0 5px;
        width: 70px;
        height: 50px;
        text-align: center;
   }
 
    a {
    
     display: block;
     margin: 8px;
     padding: 0 10px;
     color:black;
     line-height: 50px;
     font-size: 30px;
     box-shadow: 0 3px 10px 0px grey;
     transition: .2s;
     }
   
     ul:hover a {
        filter: blur(2px);
    }

    ul li a:hover {
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 5px 5px 0px black;
        filter: none;
    }
   
     ul li .linkedin:hover {
        background: grey;
    }
    
}

@mixin form {
    opacity: 0.8;
    background-image:  radial-gradient(#050505 0.5px, transparent 0.5px), radial-gradient(#050505 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    margin: auto;    
    width: 90%;
    max-width: 400px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 5px 10px -5px #4e54c8 ;
    text-align: center;
    align-items: center;
}

@mixin input-name {
    width: 100%;
    background: none;
    color: #4e54c8;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid #4e54c8;
    text-align: center;
    align-items: center;
    margin: 15px;    
}

@mixin input-email {
    width: 100%;
    background: none;
    color: #4e54c8;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid #4e54c8;
    text-align: center;
    align-items: center;
    margin: 15px;    
}

@mixin password {
    width: 100%;
    background: none;
    color: #4e54c8;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid #4e54c8;
    text-align: center;
    align-items: center;
    margin: 15px;
}

@mixin footerForm {
    display:flex;
    font-size: 18px;
    background-color: black;
    align-items: flex-end;
    text-align: center;
    color: grey;
    padding: 10px;
    height: 120px;
    background: linear-gradient(to left, #000000, #434343);
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 2px solid grey;
}
