@import "mixin";
* {
    @include recet;
}
$borderBox : 0 3px 10px 0px rgb(77, 71, 71);
$flex : flex;

html {
    scroll-behavior: smooth;
}


.header {
    background-color: black;
    font-family: 'Rubik', sans-serif;
    border: $borderBox;
    color: whitesmoke;
    height: 80px;
    background-image: url(../multimedia/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
    

     li a {
         border: 1px inset rgb(49, 43, 43);
         margin: 15px;
         padding: 10px;
         align-items: center;
         border-radius: 10px;
     }
    
     ul:hover a {
        filter: blur(2px);
    }

    ul li a:hover {
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 5px 5px 0px black;
        filter: none;
    }   

}

.headerHabilidades {
    background-color: rgb(10, 10, 10);
    font-family: 'Rubik', sans-serif;
    border: $borderBox;
    color: whitesmoke;

     li a {
         border: 1px inset grey;
         margin: 15px;
         padding: 10px;
         align-items: center;
     }
    
     ul:hover a {
        filter: blur(2px);
    }

    ul li a:hover {
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 5px 5px 0px grey;
        filter: none;
    }
   
}

h1 {
        font-size: 25px;
        color: grey;
        font-family: 'Press Start 2P', cursive;       
    }
h2 {
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
}

h3 {
    font-family: 'Graduate', cursive;
    font-size: 20px;
    
}

p {
    font-size: 20px;
    font-family: 'Graduate', cursive;
}

.main {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;  
    color: whitesmoke;
    height: 700px;                   
    background-image:url(../multimedia/background-g0003a7a51_1920.jpg);
    padding: 15px;
  
}

.animate__animated.animate__bounce  {
  --animate-duration: 5s;
}

footer {
display:flex;
font-size: 18px;
background-color: black;
align-items: flex-end;
text-align: center;
color: grey;
padding: 10px;
height: 120px;
background-image: url(../multimedia/header.jpg);
background-size: cover;
background-repeat: no-repeat;
}

#bienvenida {
    font-size: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;  
    color: whitesmoke;
    height: 700px;                   
    background-image:url(../multimedia/coffee1.jpg);
    padding: 15px;
    color: grey;
    font-family: 'Graduate', cursive;
   
}

.mainCafe {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;  
    color: whitesmoke;
    height: 700px;                   
    background-image:url(../multimedia/coffee2.jpg);
    padding: 15px;
  
}

.mainCafe3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;  
    color: whitesmoke;
    height: 700px;                   
    background-image:url(../multimedia/coffee3.jpg);
   padding: 15px;
  
}


.fondoConoceme  {
    background-image: url(../multimedia/fondoHistoria.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 50px;
    padding: 160px;
    text-align: center;  
    box-shadow: $borderBox;
    background-color: black;
    height: auto;
}

.fondoContacto {
    background-image: url(../multimedia/CONTACTO.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 50px;
    padding: 160px;
    text-align: center;  
    box-shadow: $borderBox;
    background-color: black;
    height: auto;
}


#btn1 {
   @include boton;
    
}

#btn1:focus {
    outline: 0;
}

#btn1:hover {
    box-shadow: 0 0 40px  grey inset;
    background-position: 0;
}

#btn2 {
    @include boton;
     
 }
 
 #btn2:focus {
     outline: 0;
 }
 
 #btn2:hover {
     box-shadow: 0 0 40px  black inset;
     background-position: 0;
 }
 
 #btn3 {
    @include boton;
     
 }
 
 #btn3:focus {
     outline: 0;
 }
 
 #btn3:hover {
     box-shadow: 0 0 40px  grey inset;
     background-position: 0;
 }
 #btn4 {
    @include boton;
     
 }
 
 #btn4:focus {
     outline: 0;
 }
 
 #btn4:hover {
     box-shadow: 0 0 40px  black inset;
     background-position: 0;
 }
 
 #btn5 {
     @include boton;
    
 }

 #btn5:focus {
    outline: 0;
}

#btn5:hover {
    box-shadow: 0 0 40px  grey inset;
    background-position: 0;
}


 #btn6 {
    @include boton;
}

#btn6:focus {
    outline: 0;
}

#btn6:hover {
    box-shadow: 0 0 40px  black inset;
    background-position: 0;
}

 .historia {
    color: blanchedalmond;
   
 }

 .redes-container {
    @include redes-container ($flex);
}

.copi {

   display: block;
    align-items: center;
    text-align: center;
    color: grey;
}

.HistoriaFondo {
   background-color: black;
}

#textoContacto {
    color: white;
    font-size: 40px;
    font-family: 'Graduate', cursive;
}

#msg {
    width: 100%;
    height: 60px;
    padding: 15px;
    outline: none;
    resize: none;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 15px;
    border-color: black;

}

#input-name{
   
    outline: none;
    resize: none;
    width: 250px;
    margin-top: 20px;
    border-radius: 15px;
    border-color: grey;

}

#input-email{
    width: 250px;
    margin-top: 20px;
    border-radius: 15px;
    border-color: grey;

}
#input-submit {
    @include boton;
}


#input-submit:focus {
    outline: 0;
}

#input-submit:hover {
    box-shadow: 0 0 40px  black inset;
    background-position: 0;
}

.bodyContacto {
    background-color: rgb(27, 26, 26);
}