* {font-family: 'Press Start 2P', cursive; 
   
}



.EL {
       
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
        text-align: center;  
        color: whitesmoke;
        height: 500px;
       
        
         
       
        background-image: url(../multimedia/space-g3e06f40cf_1920.jpg);
    }

h1 {
        font-size: 50px;
        color: black;
    }


